@charset "utf-8";

body {
	margin:0;
	padding:0;
	background-color:#cccccc;
	color:#333;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
}

#content {
	text-align:center;
	margin:0 15px;
	line-height:160%;
}

#sidebar {
	text-align:center;
	min-width:210px;
	float:center;
	line-height:140%;
	background-color:#ABCDEF;
	border: 10px solid #E5E5E5;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
}

.muslehway{
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	text-align:center;
	color: #000;
	text-decoration: underline;
	font-size: 100%
}
.umit { 
	position: absolute;
	left: 50%;
	width: 800px;
	margin-left: -400px;
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	text-align:center;
	color: #000;
	font-size: 100%;
}

#page-wrap { 
  position: absolute; 
  left: 50%; 
  width: 800px;
  margin-left: -400px;
}

#photo {
	text-align:center;
	width:500px;height:500px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding:3px;
	border: 10px solid #000;
}

#logo-media {
	text-align:center;
	width:150px;height:75px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding:1px;
	border: 2px solid #000;
}